* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background: transparent;
}
::-webkit-scrollbar-track {
  border-radius: 10px;
  background: transparent;
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.25);
}
::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.5);
}
::-webkit-scrollbar-corner {
  background: transparent;
}
::-webkit-scrollbar-button {
  background: transparent;
}
html {
  font-size: 10px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body {
  font-family: roboto, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333333;
  background-color: #ffffff;
}
input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  outline: none;
}
a {
  color: #337ab7;
  text-decoration: none;
}
a:hover,
a:focus {
  color: #22527b;
}
a:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
figure {
  margin: 0;
}
img {
  vertical-align: middle;
  width: 100%;
}
.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}
.img-rounded {
  border-radius: 10px;
}
.img-thumbnail {
  padding: 4px;
  line-height: 1.42857143;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-radius: 5px;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  display: inline-block;
  max-width: 100%;
  height: auto;
}
.img-circle {
  border-radius: 50%;
}
hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #eeeeee;
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
.sr-only-focusable:active,
.sr-only-focusable:focus {
  position: static;
  width: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  clip: auto;
}
[role="button"] {
  cursor: pointer;
}
/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
template {
  display: none;
}
a {
  background-color: transparent;
}
a:active,
a:hover {
  outline: 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
dfn {
  font-style: italic;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: normal;
}
mark {
  background: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 1em 40px;
}
hr {
  box-sizing: content-box;
  height: 0;
}
pre {
  overflow: auto;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}
button {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input {
  line-height: normal;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
}
optgroup {
  font-weight: bold;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}
ul,
li {
  list-style: none;
  padding-left: 0;
  text-decoration: none;
  margin: 10px 0;
}
.clearfix:before,
.clearfix:after,
.container:before,
.container:after,
.container-fluid:before,
.container-fluid:after,
.row:before,
.row:after {
  content: " ";
  display: table;
}
.clearfix:after,
.container:after,
.container-fluid:after,
.row:after {
  clear: both;
}
/*Reset*/
.left {
  float: left;
}
.right {
  float: right;
}
.hidden {
  display: none;
}
.margin-right-neer-base {
  margin-right: -10px;
}
.margin-neer-small {
  margin: 0 -5px;
}
.margin-neer-base {
  margin: 0 -10px;
}
.width-reset {
  width: 100%;
}
.main-green {
  color: #a5cd00;
}
.input-block {
  width: 100% !important;
}
.box-border-radius {
  border-radius: 10px;
}
.fade.in {
  opacity: 1;
}
.fade {
  opacity: 0;
  -webkit-transition: opacity .15s linear;
  -o-transition: opacity .15s linear;
  transition: opacity .15s linear;
}
.input-group {
  position: relative;
}
.input-group label.input-label {
  color: #a5cd00;
  font-size: 15px;
  margin: 5px 0;
  display: block;
}
.input-group input {
  border-radius: 3px;
  border: 1px solid #bbb;
  height: 25px;
  font-size: 12px;
  text-align: center;
  width: 100%;
}
.input-group input:focus {
  border: solid 1px #a5cd00;
}
.input-group span.input-logo {
  position: absolute;
  top: 5px;
  right: 10px;
}
.btn {
  display: inline-block;
  text-align: center;
  border-radius: 3px;
  padding: 6px 16px;
  line-height: 15px;
  border: 1px solid transparent;
  font-size: 14px;
  vertical-align: middle;
  outline: none;
  cursor: pointer;
}
.btn.btn-green {
  color: #ffffff;
  background-color: #a5cd00;
  border-color: #a5cd00;
}
.btn.btn-green:focus,
.btn.btn-green.focus {
  color: #ffffff;
  background-color: #7c9a00;
  border-color: #3e4e00;
}
.btn.btn-green:hover {
  color: #ffffff;
  background-color: #7c9a00;
  border-color: #749000;
}
.btn.btn-green:active,
.btn.btn-green.active {
  color: #ffffff;
  background-color: #7c9a00;
  border-color: #749000;
}
.btn.btn-green.disabled,
.btn.btn-green[disabled],
fieldset[disabled] .btn.btn-green,
.btn.btn-green.disabled:hover,
.btn.btn-green[disabled]:hover,
fieldset[disabled] .btn.btn-green:hover,
.btn.btn-green.disabled:focus,
.btn.btn-green[disabled]:focus,
fieldset[disabled] .btn.btn-green:focus,
.btn.btn-green.disabled.focus,
.btn.btn-green[disabled].focus,
fieldset[disabled] .btn.btn-green.focus,
.btn.btn-green.disabled:active,
.btn.btn-green[disabled]:active,
fieldset[disabled] .btn.btn-green:active,
.btn.btn-green.disabled.active,
.btn.btn-green[disabled].active,
fieldset[disabled] .btn.btn-green.active {
  background-color: #a5cd00;
  border-color: #a5cd00;
}
.btn.btn-delete {
  color: #ffffff;
  background-color: #dd524d;
  border-color: #dd524d;
}
.btn.btn-delete:focus,
.btn.btn-delete.focus {
  color: #ffffff;
  background-color: #cf2d28;
  border-color: #8f1f1b;
}
.btn.btn-delete:hover {
  color: #ffffff;
  background-color: #cf2d28;
  border-color: #c72c26;
}
.btn.btn-delete:active,
.btn.btn-delete.active {
  color: #ffffff;
  background-color: #cf2d28;
  border-color: #c72c26;
}
.btn.btn-delete.disabled,
.btn.btn-delete[disabled],
fieldset[disabled] .btn.btn-delete,
.btn.btn-delete.disabled:hover,
.btn.btn-delete[disabled]:hover,
fieldset[disabled] .btn.btn-delete:hover,
.btn.btn-delete.disabled:focus,
.btn.btn-delete[disabled]:focus,
fieldset[disabled] .btn.btn-delete:focus,
.btn.btn-delete.disabled.focus,
.btn.btn-delete[disabled].focus,
fieldset[disabled] .btn.btn-delete.focus,
.btn.btn-delete.disabled:active,
.btn.btn-delete[disabled]:active,
fieldset[disabled] .btn.btn-delete:active,
.btn.btn-delete.disabled.active,
.btn.btn-delete[disabled].active,
fieldset[disabled] .btn.btn-delete.active {
  background-color: #dd524d;
  border-color: #dd524d;
}
.btn.btn-black {
  color: #ffffff;
  background-color: #141414;
  border-color: #141414;
}
.btn.btn-black:focus,
.btn.btn-black.focus {
  color: #ffffff;
  background-color: #000000;
  border-color: #000000;
}
.btn.btn-black:hover {
  color: #ffffff;
  background-color: #000000;
  border-color: #000000;
}
.btn.btn-black:active,
.btn.btn-black.active {
  color: #ffffff;
  background-color: #000000;
  border-color: #000000;
}
.btn.btn-black.disabled,
.btn.btn-black[disabled],
fieldset[disabled] .btn.btn-black,
.btn.btn-black.disabled:hover,
.btn.btn-black[disabled]:hover,
fieldset[disabled] .btn.btn-black:hover,
.btn.btn-black.disabled:focus,
.btn.btn-black[disabled]:focus,
fieldset[disabled] .btn.btn-black:focus,
.btn.btn-black.disabled.focus,
.btn.btn-black[disabled].focus,
fieldset[disabled] .btn.btn-black.focus,
.btn.btn-black.disabled:active,
.btn.btn-black[disabled]:active,
fieldset[disabled] .btn.btn-black:active,
.btn.btn-black.disabled.active,
.btn.btn-black[disabled].active,
fieldset[disabled] .btn.btn-black.active {
  background-color: #141414;
  border-color: #141414;
}
.btn.btn-lg {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.3333333;
}
.btn.btn-sm {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
}
.btn.btn-xs {
  padding: 1px 5px;
  font-size: 12px;
  line-height: 1.5;
}
.btn.btn-block {
  display: block;
  width: 100%;
}
.list-group .list-title {
  color: black;
  font-size: 16px;
  margin: 0;
}
.list-group .list {
  color: black;
  font-size: 14px;
  margin: 5px 5px 5px 20px;
  padding-left: 20px;
}
.list-group .list input {
  margin-right: 10px;
}
.list-group .list i {
  margin-left: -20px;
  margin-right: 5px;
}
.categories {
  margin-top: 60px;
}
.categories ul li {
  color: white;
  cursor: pointer;
}
.card,
.map-card {
  background: #fff;
  padding: 15px;
  border-radius: 5px;
  margin: 10px 0;
}
.card ul,
.map-card ul {
  padding: 0;
}
.card ul li,
.map-card ul li {
  margin-left: 20px;
  position: relative;
  list-style: none;
}
.card ul li a,
.map-card ul li a {
  cursor: pointer;
}
.map-card .map-logo {
  vertical-align: top;
  width: 150px;
}
.map-card .map-logo img {
  max-height: 150px;
  max-width: 100%;
}
.box-title i.dsd-icon-square {
  color: #a5cd00;
}
.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.row {
  margin-left: -15px;
  margin-right: -15px;
}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  float: left;
}
.col-xs-12 {
  width: 100%;
}
.col-xs-11 {
  width: 91.66666667%;
}
.col-xs-10 {
  width: 83.33333333%;
}
.col-xs-9 {
  width: 75%;
}
.col-xs-8 {
  width: 66.66666667%;
}
.col-xs-7 {
  width: 58.33333333%;
}
.col-xs-6 {
  width: 50%;
}
.col-xs-5 {
  width: 41.66666667%;
}
.col-xs-4 {
  width: 33.33333333%;
}
.col-xs-3 {
  width: 25%;
}
.col-xs-2 {
  width: 16.66666667%;
}
.col-xs-1 {
  width: 8.33333333%;
}
.col-xs-pull-12 {
  right: 100%;
}
.col-xs-pull-11 {
  right: 91.66666667%;
}
.col-xs-pull-10 {
  right: 83.33333333%;
}
.col-xs-pull-9 {
  right: 75%;
}
.col-xs-pull-8 {
  right: 66.66666667%;
}
.col-xs-pull-7 {
  right: 58.33333333%;
}
.col-xs-pull-6 {
  right: 50%;
}
.col-xs-pull-5 {
  right: 41.66666667%;
}
.col-xs-pull-4 {
  right: 33.33333333%;
}
.col-xs-pull-3 {
  right: 25%;
}
.col-xs-pull-2 {
  right: 16.66666667%;
}
.col-xs-pull-1 {
  right: 8.33333333%;
}
.col-xs-pull-0 {
  right: auto;
}
.col-xs-push-12 {
  left: 100%;
}
.col-xs-push-11 {
  left: 91.66666667%;
}
.col-xs-push-10 {
  left: 83.33333333%;
}
.col-xs-push-9 {
  left: 75%;
}
.col-xs-push-8 {
  left: 66.66666667%;
}
.col-xs-push-7 {
  left: 58.33333333%;
}
.col-xs-push-6 {
  left: 50%;
}
.col-xs-push-5 {
  left: 41.66666667%;
}
.col-xs-push-4 {
  left: 33.33333333%;
}
.col-xs-push-3 {
  left: 25%;
}
.col-xs-push-2 {
  left: 16.66666667%;
}
.col-xs-push-1 {
  left: 8.33333333%;
}
.col-xs-push-0 {
  left: auto;
}
.col-xs-offset-12 {
  margin-left: 100%;
}
.col-xs-offset-11 {
  margin-left: 91.66666667%;
}
.col-xs-offset-10 {
  margin-left: 83.33333333%;
}
.col-xs-offset-9 {
  margin-left: 75%;
}
.col-xs-offset-8 {
  margin-left: 66.66666667%;
}
.col-xs-offset-7 {
  margin-left: 58.33333333%;
}
.col-xs-offset-6 {
  margin-left: 50%;
}
.col-xs-offset-5 {
  margin-left: 41.66666667%;
}
.col-xs-offset-4 {
  margin-left: 33.33333333%;
}
.col-xs-offset-3 {
  margin-left: 25%;
}
.col-xs-offset-2 {
  margin-left: 16.66666667%;
}
.col-xs-offset-1 {
  margin-left: 8.33333333%;
}
.col-xs-offset-0 {
  margin-left: 0%;
}
@media (min-width: 768px) {
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left;
  }
  .col-sm-12 {
    width: 100%;
  }
  .col-sm-11 {
    width: 91.66666667%;
  }
  .col-sm-10 {
    width: 83.33333333%;
  }
  .col-sm-9 {
    width: 75%;
  }
  .col-sm-8 {
    width: 66.66666667%;
  }
  .col-sm-7 {
    width: 58.33333333%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-5 {
    width: 41.66666667%;
  }
  .col-sm-4 {
    width: 33.33333333%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-2 {
    width: 16.66666667%;
  }
  .col-sm-1 {
    width: 8.33333333%;
  }
  .col-sm-pull-12 {
    right: 100%;
  }
  .col-sm-pull-11 {
    right: 91.66666667%;
  }
  .col-sm-pull-10 {
    right: 83.33333333%;
  }
  .col-sm-pull-9 {
    right: 75%;
  }
  .col-sm-pull-8 {
    right: 66.66666667%;
  }
  .col-sm-pull-7 {
    right: 58.33333333%;
  }
  .col-sm-pull-6 {
    right: 50%;
  }
  .col-sm-pull-5 {
    right: 41.66666667%;
  }
  .col-sm-pull-4 {
    right: 33.33333333%;
  }
  .col-sm-pull-3 {
    right: 25%;
  }
  .col-sm-pull-2 {
    right: 16.66666667%;
  }
  .col-sm-pull-1 {
    right: 8.33333333%;
  }
  .col-sm-pull-0 {
    right: auto;
  }
  .col-sm-push-12 {
    left: 100%;
  }
  .col-sm-push-11 {
    left: 91.66666667%;
  }
  .col-sm-push-10 {
    left: 83.33333333%;
  }
  .col-sm-push-9 {
    left: 75%;
  }
  .col-sm-push-8 {
    left: 66.66666667%;
  }
  .col-sm-push-7 {
    left: 58.33333333%;
  }
  .col-sm-push-6 {
    left: 50%;
  }
  .col-sm-push-5 {
    left: 41.66666667%;
  }
  .col-sm-push-4 {
    left: 33.33333333%;
  }
  .col-sm-push-3 {
    left: 25%;
  }
  .col-sm-push-2 {
    left: 16.66666667%;
  }
  .col-sm-push-1 {
    left: 8.33333333%;
  }
  .col-sm-push-0 {
    left: auto;
  }
  .col-sm-offset-12 {
    margin-left: 100%;
  }
  .col-sm-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-sm-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-sm-offset-9 {
    margin-left: 75%;
  }
  .col-sm-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-sm-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-sm-offset-6 {
    margin-left: 50%;
  }
  .col-sm-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-sm-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-sm-offset-3 {
    margin-left: 25%;
  }
  .col-sm-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-sm-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-sm-offset-0 {
    margin-left: 0%;
  }
}
@media (min-width: 992px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
  }
  .col-md-12 {
    width: 100%;
  }
  .col-md-11 {
    width: 91.66666667%;
  }
  .col-md-10 {
    width: 83.33333333%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-8 {
    width: 66.66666667%;
  }
  .col-md-7 {
    width: 58.33333333%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-5 {
    width: 41.66666667%;
  }
  .col-md-4 {
    width: 33.33333333%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-2 {
    width: 16.66666667%;
  }
  .col-md-1 {
    width: 8.33333333%;
  }
  .col-md-pull-12 {
    right: 100%;
  }
  .col-md-pull-11 {
    right: 91.66666667%;
  }
  .col-md-pull-10 {
    right: 83.33333333%;
  }
  .col-md-pull-9 {
    right: 75%;
  }
  .col-md-pull-8 {
    right: 66.66666667%;
  }
  .col-md-pull-7 {
    right: 58.33333333%;
  }
  .col-md-pull-6 {
    right: 50%;
  }
  .col-md-pull-5 {
    right: 41.66666667%;
  }
  .col-md-pull-4 {
    right: 33.33333333%;
  }
  .col-md-pull-3 {
    right: 25%;
  }
  .col-md-pull-2 {
    right: 16.66666667%;
  }
  .col-md-pull-1 {
    right: 8.33333333%;
  }
  .col-md-pull-0 {
    right: auto;
  }
  .col-md-push-12 {
    left: 100%;
  }
  .col-md-push-11 {
    left: 91.66666667%;
  }
  .col-md-push-10 {
    left: 83.33333333%;
  }
  .col-md-push-9 {
    left: 75%;
  }
  .col-md-push-8 {
    left: 66.66666667%;
  }
  .col-md-push-7 {
    left: 58.33333333%;
  }
  .col-md-push-6 {
    left: 50%;
  }
  .col-md-push-5 {
    left: 41.66666667%;
  }
  .col-md-push-4 {
    left: 33.33333333%;
  }
  .col-md-push-3 {
    left: 25%;
  }
  .col-md-push-2 {
    left: 16.66666667%;
  }
  .col-md-push-1 {
    left: 8.33333333%;
  }
  .col-md-push-0 {
    left: auto;
  }
  .col-md-offset-12 {
    margin-left: 100%;
  }
  .col-md-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-md-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-md-offset-9 {
    margin-left: 75%;
  }
  .col-md-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-md-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-md-offset-6 {
    margin-left: 50%;
  }
  .col-md-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-md-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-md-offset-3 {
    margin-left: 25%;
  }
  .col-md-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-md-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-md-offset-0 {
    margin-left: 0%;
  }
}
@media (min-width: 1200px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left;
  }
  .col-lg-12 {
    width: 100%;
  }
  .col-lg-11 {
    width: 91.66666667%;
  }
  .col-lg-10 {
    width: 83.33333333%;
  }
  .col-lg-9 {
    width: 75%;
  }
  .col-lg-8 {
    width: 66.66666667%;
  }
  .col-lg-7 {
    width: 58.33333333%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-5 {
    width: 41.66666667%;
  }
  .col-lg-4 {
    width: 33.33333333%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-2 {
    width: 16.66666667%;
  }
  .col-lg-1 {
    width: 8.33333333%;
  }
  .col-lg-pull-12 {
    right: 100%;
  }
  .col-lg-pull-11 {
    right: 91.66666667%;
  }
  .col-lg-pull-10 {
    right: 83.33333333%;
  }
  .col-lg-pull-9 {
    right: 75%;
  }
  .col-lg-pull-8 {
    right: 66.66666667%;
  }
  .col-lg-pull-7 {
    right: 58.33333333%;
  }
  .col-lg-pull-6 {
    right: 50%;
  }
  .col-lg-pull-5 {
    right: 41.66666667%;
  }
  .col-lg-pull-4 {
    right: 33.33333333%;
  }
  .col-lg-pull-3 {
    right: 25%;
  }
  .col-lg-pull-2 {
    right: 16.66666667%;
  }
  .col-lg-pull-1 {
    right: 8.33333333%;
  }
  .col-lg-pull-0 {
    right: auto;
  }
  .col-lg-push-12 {
    left: 100%;
  }
  .col-lg-push-11 {
    left: 91.66666667%;
  }
  .col-lg-push-10 {
    left: 83.33333333%;
  }
  .col-lg-push-9 {
    left: 75%;
  }
  .col-lg-push-8 {
    left: 66.66666667%;
  }
  .col-lg-push-7 {
    left: 58.33333333%;
  }
  .col-lg-push-6 {
    left: 50%;
  }
  .col-lg-push-5 {
    left: 41.66666667%;
  }
  .col-lg-push-4 {
    left: 33.33333333%;
  }
  .col-lg-push-3 {
    left: 25%;
  }
  .col-lg-push-2 {
    left: 16.66666667%;
  }
  .col-lg-push-1 {
    left: 8.33333333%;
  }
  .col-lg-push-0 {
    left: auto;
  }
  .col-lg-offset-12 {
    margin-left: 100%;
  }
  .col-lg-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-lg-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-lg-offset-9 {
    margin-left: 75%;
  }
  .col-lg-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-lg-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-lg-offset-6 {
    margin-left: 50%;
  }
  .col-lg-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-lg-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-lg-offset-3 {
    margin-left: 25%;
  }
  .col-lg-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-lg-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-lg-offset-0 {
    margin-left: 0%;
  }
}
@-ms-viewport {
  width: device-width;
}
.visible-xs,
.visible-sm,
.visible-md,
.visible-lg {
  display: none !important;
}
.visible-xs-block,
.visible-xs-inline,
.visible-xs-inline-block,
.visible-sm-block,
.visible-sm-inline,
.visible-sm-inline-block,
.visible-md-block,
.visible-md-inline,
.visible-md-inline-block,
.visible-lg-block,
.visible-lg-inline,
.visible-lg-inline-block {
  display: none !important;
}
@media (max-width: 767px) {
  .visible-xs {
    display: block !important;
  }
  table.visible-xs {
    display: table !important;
  }
  tr.visible-xs {
    display: table-row !important;
  }
  th.visible-xs,
  td.visible-xs {
    display: table-cell !important;
  }
}
@media (max-width: 767px) {
  .visible-xs-block {
    display: block !important;
  }
}
@media (max-width: 767px) {
  .visible-xs-inline {
    display: inline !important;
  }
}
@media (max-width: 767px) {
  .visible-xs-inline-block {
    display: inline-block !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm {
    display: block !important;
  }
  table.visible-sm {
    display: table !important;
  }
  tr.visible-sm {
    display: table-row !important;
  }
  th.visible-sm,
  td.visible-sm {
    display: table-cell !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm-block {
    display: block !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm-inline {
    display: inline !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm-inline-block {
    display: inline-block !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md {
    display: block !important;
  }
  table.visible-md {
    display: table !important;
  }
  tr.visible-md {
    display: table-row !important;
  }
  th.visible-md,
  td.visible-md {
    display: table-cell !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md-block {
    display: block !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md-inline {
    display: inline !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md-inline-block {
    display: inline-block !important;
  }
}
@media (min-width: 1200px) {
  .visible-lg {
    display: block !important;
  }
  table.visible-lg {
    display: table !important;
  }
  tr.visible-lg {
    display: table-row !important;
  }
  th.visible-lg,
  td.visible-lg {
    display: table-cell !important;
  }
}
@media (min-width: 1200px) {
  .visible-lg-block {
    display: block !important;
  }
}
@media (min-width: 1200px) {
  .visible-lg-inline {
    display: inline !important;
  }
}
@media (min-width: 1200px) {
  .visible-lg-inline-block {
    display: inline-block !important;
  }
}
@media (max-width: 767px) {
  .hidden-xs {
    display: none !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .hidden-sm {
    display: none !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .hidden-md {
    display: none !important;
  }
}
@media (min-width: 1200px) {
  .hidden-lg {
    display: none !important;
  }
}
.visible-print {
  display: none !important;
}
@media print {
  .visible-print {
    display: block !important;
  }
  table.visible-print {
    display: table !important;
  }
  tr.visible-print {
    display: table-row !important;
  }
  th.visible-print,
  td.visible-print {
    display: table-cell !important;
  }
}
.visible-print-block {
  display: none !important;
}
@media print {
  .visible-print-block {
    display: block !important;
  }
}
.visible-print-inline {
  display: none !important;
}
@media print {
  .visible-print-inline {
    display: inline !important;
  }
}
.visible-print-inline-block {
  display: none !important;
}
@media print {
  .visible-print-inline-block {
    display: inline-block !important;
  }
}
@media print {
  .hidden-print {
    display: none !important;
  }
}
.MainContent {
  background: white;
  z-index: 10;
}
.nav-panel {
  background-image: url("../../img/bg-nav-panel.jpg");
  background-size: contain;
  background-position: center right;
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0.87);
  position: fixed;
  top: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
}
@media (max-width: 767px) {
  .nav-panel {
    right: 0;
    width: 100%;
  }
}
.nav-panel > div:first-child {
  background: rgba(0, 0, 0, 0.2);
}
.nav-panel > div:first-child .logo-group {
  padding: 10px 0;
  text-align: center;
}
.nav-panel > div:first-child .logo-group .encompasslogo {
  margin-left: -20px;
  margin-top: 5px;
  text-align: left;
}
.nav-panel .main-panel .nav {
  margin: 0;
  padding: 0 8px;
  background: #141414;
}
.nav-panel .main-panel .nav li {
  margin: 0;
  padding: 10px;
  text-align: center;
}
.nav-panel .main-panel .nav li a {
  color: white;
}
.nav-panel .main-panel .nav li a label {
  cursor: pointer;
  display: block;
}
.nav-panel .main-panel .nav li a i {
  display: block;
  font-size: 24px;
}
.nav-panel .main-panel .nav li.active {
  background: #242424;
}
.nav-panel .main-panel .nav li.active a {
  color: #a5cd00;
}
.nav-panel .main-panel .filter-content {
  padding-bottom: 20px;
}
.nav-panel .main-panel .filter-content .tab-pane {
  display: none;
  position: relative;
}
.nav-panel .main-panel .filter-content .tab-pane .nav-sublist {
  position: absolute;
  top: 0;
  transform: translateX(1200%);
}
.nav-panel .main-panel .filter-content .tab-pane .nav-sublist.active {
  transform: translateX(0);
}
.nav-panel .main-panel .filter-content .tab-pane .nav-sublist .btn-black {
  margin: 5px 0 0 0;
}
.nav-panel .main-panel .filter-content .tab-pane.active {
  display: block;
}
.nav-panel .main-panel .filter-content .list-group {
  margin-top: 60px;
}
.nav-panel .main-panel .filter-content .input-group {
  margin: 5px 0;
}
.nav-panel .main-panel .filter-content .btn {
  margin: -2px 0;
}
.state-list-wrapper {
  background: #242424;
}
.state-list-wrapper .state-list-title {
  font-weight: bold;
  color: white;
  padding: 15px;
  text-align: center;
}
.state-list-wrapper .state-list-title span {
  text-align: center;
  line-height: 30px;
  height: 30px;
  margin-left: -20px;
}
.state-list-wrapper .state-list {
  background: #ffffff;
  margin: 0 10px;
  padding: 20px;
  overflow-y: scroll;
}
.nav-list li {
  border-radius: 3px;
  color: white;
  padding: 5px;
  cursor: pointer;
}
.nav-list li:hover,
.nav-list li.active {
  background: #a5cd00;
}
.nav-list li i {
  width: 26px;
}
@media screen and (max-width: 991px) {
  .nav-panel {
    position: inherit;
    background-image: none;
  }
  .nav-panel .main-panel .nav {
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    flex-direction: row;
  }
  .nav-panel .main-panel .nav li {
    flex: 1;
  }
}
.logo-group .dsdlogo {
  padding: 0 10px;
}
.profile-container {
  /*margin-left: @panel-width/4;*/
  padding: 0;
}
.profile-container .headbar {
  text-align: center;
  padding: 15px 20px;
  color: white;
  background: #242424;
}
.profile-container .headbar h3 span {
  cursor: pointer;
}
.profile-container .headbar h3 span:hover {
  color: #a5cd00;
}
.profile-container .profile-content section .card {
  padding-top: 30px;
}
.profile-container .profile-content section .card .btn-share {
  position: absolute;
  top: 15px;
  right: 20px;
}
.profile-container .profile-content section .card .btn-share i {
  margin-right: 2px;
}
.profile-container .profile-content section .card .brands-logo {
  margin: 5px;
  display: inline-block;
}
.profile-container .profile-content section .card .brands-logo img {
  display: inline-block;
  height: 50px;
  cursor: pointer;
  width: auto;
  max-width: 100%;
}
.profile-container .profile-content section .card .wheresell i {
  height: 12px;
  width: 12px;
  background: #b3c06c;
}
.card .address {
  margin-top: 30px;
}
.card .associations .color {
  color: #0063be;
}
.card .awards .color {
  color: #ff9c00;
}
.card .keyperson {
  margin-left: 20px;
}
.card .keyperson p {
  display: block;
}
.card .location a {
  text-decoration: underline;
}
.card .profile-head .dis-logo {
  text-align: center;
}
.card .profile-head .dis-logo img {
  max-width: 300px;
  max-height: 300px;
}
.card .profile-head .dis-media {
  text-align: center;
  margin-bottom: 10px;
}
.card .profile-head .dis-media a {
  font-size: 30px;
  margin: 0 10px;
  cursor: pointer;
}
.card .profile-head .dis-media a:hover {
  text-decoration: none;
}
@media (max-width: 767px) {
  .profile-container .mobile {
    display: inline-block;
    width: 50px;
    height: 52px;
    line-height: 55px;
    margin: -15px;
  }
  .profile-container .mobile i {
    font-size: 20px;
  }
  .profile-container .mobile .mobile-label {
    position: absolute;
    top: 18px;
    right: 5px;
    font-size: 12px;
  }
}
@media (min-width: 992px) {
  .logo-group .dsdlogo {
    padding: 0 20px;
  }
}
@media (min-width: 1200px) {
  .logo-group .dsdlogo {
    padding: 0 30px;
  }
}
@media (min-width: 1600px) {
  .logo-group .dsdlogo {
    padding: 0 50px;
  }
}
.nav-panel .main-panel .nav {
  display: flex;
  flex-direction: column;
  padding: 0;
}
.nav-panel .main-panel .nav li {
  padding: 10px 0;
}
.supplier-container {
  background-image: url("../../img/bg-supplier.jpg");
  background-size: cover;
  background-position: top left;
  background-repeat: no-repeat;
  /*background-attachment: fixed;*/
}
.supplier-container .box-margin {
  margin: 10px 0 0 0;
}
.supplier-container .strong {
  color: #a5cd00;
}
.supplier-container .box-title {
  padding: 10px 16px;
  font-weight: bold;
  color: #000;
}
.supplier-container .company-logos {
  text-align: center;
  padding: 0 18px 18px 18px;
}
.supplier-container .company-logos .company-unit {
  padding: 10px 10px;
}
.supplier-container .company-logos .company-unit img {
  max-width: 240px;
}
.supplier-container .supplier-search-list {
  background: #fff;
  margin: -15px 15px 40px 15px;
  padding-bottom: 5px;
}
.supplier-container .supplier-search-list .box-title span {
  max-width: 90%;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  vertical-align: top;
  white-space: nowrap;
}
.supplier-container .supplier-search-list .supplier-search-list-content {
  margin: 0px;
}
.supplier-container .supplier-search-list .supplier-search-list-content .supplier-logos {
  padding: 0 3px;
}
.supplier-container .supplier-search-list .supplier-search-list-content .supplier-logos .company-img-frame {
  border: solid 1px #ccc;
  margin-bottom: 5px;
}
.supplier-container .supplier-search-list .supplier-search-list-content .supplier-logos h4 {
  text-align: center;
}
@media screen and (max-width: 991px) {
  .nav-panel {
    position: inherit;
    background-image: none;
  }
  .nav-panel .main-panel .nav {
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    flex-direction: row;
  }
  .nav-panel .main-panel .nav li {
    flex: 1;
  }
  .nav-panel #supplier .input-group input {
    padding: 4px 10px;
    height: 36px;
    text-align: left;
  }
  .nav-panel #supplier .input-group .input-logo {
    font-size: 24px;
  }
  .category-unit {
    padding: 0px;
    margin-bottom: 10px;
    cursor: pointer;
  }
  .category-unit .category-frame {
    margin: 5px;
    position: relative;
  }
  .category-unit .category-frame .category-title {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 0;
    margin-top: -10px;
    width: 100%;
    padding: 2px 0;
    text-align: center;
    color: #fff;
    background: rgba(0, 0, 0, 0.8);
    box-sizing: border-box;
  }
  .category-unit .category-frame .category-title label {
    cursor: pointer;
  }
  .category-unit .category-frame.active .category-title {
    background: #a5cd00;
    color: #fff;
  }
  .supplier-container {
    padding-top: 5px;
  }
}
@media screen and (max-width: 767px) {
  .supplier-container .company-frame h3.box-title {
    padding: 10px 0;
  }
  .supplier-container .ads-group .col-xs-12,
  .supplier-container .two-ads-group .col-xs-12 {
    padding: 0;
  }
  .supplier-container .two-ads-group .box-margin:last-child {
    margin-top: 20px;
  }
  .supplier-container .company-logos {
    padding: 0 5px 5px 5px;
    margin-top: -5px;
  }
  .supplier-container .supplier-search-list {
    margin: 0 0 20px 0;
  }
  .supplier-container .supplier-search-list .supplier-search-list-content h4.strong {
    margin-top: 15px;
    margin-bottom: 0px;
  }
  .supplier-container .supplier-search-list .supplier-search-list-content p {
    margin-top: 5px;
  }
}
.form-wrapper {
  background: white;
  display: none;
}
.form-wrapper.active {
  display: block;
}
.form-wrapper .form-head {
  background: #4c4c4c;
  padding: 5px 20px;
}
.form-wrapper .form-head h3 {
  display: inline-block;
  color: #b5b5b5;
  font-size: 20px;
}
.form-wrapper .form-head h3 i {
  margin-right: 10px;
}
.form-wrapper .form-content {
  margin: 30px;
}
.form-wrapper .form-content .card-state {
  margin: 10px 0;
  border: 1px solid #bbb;
  border-radius: 4px;
  padding: 10px;
}
.form-wrapper .form-content .card-state .card-state-title {
  margin-bottom: 10px;
  font-size: 18px;
}
.form-wrapper .form-content .card-state .card-state-title button {
  float: right;
}
.form-wrapper .form-content .input-group {
  text-align: right;
  margin: 20px 0;
}
.form-wrapper .form-content .input-group i {
  margin-right: 10px;
}
.form-wrapper .form-content .input-group input {
  text-align: left;
  font-size: 16px;
  padding: 0 10px;
  height: 40px;
  width: 93%;
}
.form-wrapper .form-content .input-group .uploadimg {
  display: inline-block;
  width: 60%;
  position: relative;
  text-align: left;
  margin-right: -3px;
}
.form-wrapper .form-content .input-group .uploadimg .img-thumb {
  width: 30px;
}
.form-wrapper .form-content .input-group .uploadimg input {
  width: 100%;
}
.form-wrapper .form-content .input-group .uploadbtn {
  text-align: left;
  width: 33%;
  display: inline-block;
}
.form-wrapper .form-content .input-group .uploadbtn button {
  margin-left: 20px;
  height: 40px;
  margin-bottom: 5px;
}
.form-wrapper .form-content .input-group-addon {
  display: table;
  border-collapse: separate;
}
.form-wrapper .form-content .input-group-addon .input-addon {
  border-radius: 4px;
  border: 1px solid #bbb;
  display: table-cell;
  width: 1%;
  padding: 8px;
  font-size: 20px;
  border-radius: 4px 0 0 4px;
  border-right: 0;
}
.form-wrapper .form-content .input-group-addon input {
  display: table-cell;
  width: 100%;
  border-radius: 0 4px 4px 0;
}
.form-wrapper .form-state .input-group,
.form-wrapper .form-association .input-group {
  margin: 0;
  text-align: left;
}
.form-wrapper .form-state .input-group input,
.form-wrapper .form-association .input-group input {
  width: 100%;
}
.form-wrapper .form-state button.btn.btn-green,
.form-wrapper .form-association button.btn.btn-green {
  height: 38px;
}
.form-wrapper .form-award .btn-green {
  height: 38px;
}
.form-wrapper .form-award .input-group input {
  width: 100%;
}
.card-content {
  border: 1px solid #bbb;
  border-radius: 4px;
  margin-top: 20px;
}
.card-content h4 {
  margin: 20px;
}
.card-content h4 button.btn-delete {
  float: right;
}
.card-content .card-list {
  margin: 0 20px;
}
.card-content .card-list li {
  font-size: 16px;
}
.card-content .card-list li .btn.btn-delete {
  float: right;
}
