.img-responsive{
  display: block;
  max-width: 100%;
  height: auto;
}
.input-group{
    input{
        border-radius: 15px;
        border:1px solid #bbb;
        height: 25px;
    }
    span.input-img{
        margin-left: -25px;
    }
}