/*Reset*/
.left {
    float: left;
}

.right {
    float: right;
}

.hidden {
    display: none;
}

.margin-right-neer-base {
    margin-right: @margin-neer-base;
}

.margin-neer-small {
    margin: 0 @margin-neer-small;
}

.margin-neer-base {
    margin:0 @margin-neer-base;
}

.width-reset {
    width: 100%;
}

.img-responsive(@display: block) {
    display: @display;
    max-width: 100%; // Part 1: Set a maximum relative to the parent
    height: auto; // Part 2: Scale the height according to the width, otherwise you get stretching
}

.border-radius(@radius: 4px 4px 4px 4px) {
    border-radius: @radius;
}

.main-green {
    color: @main-green;
}

.input-block {
    width: 100% !important;
}

.box-border-radius {
    border-radius: @border-radius-large;
}
// WebKit-style focus
.fade.in {
    opacity: 1;
}

.fade {
    opacity: 0;
    -webkit-transition: opacity .15s linear;
    -o-transition: opacity .15s linear;
    transition: opacity .15s linear;
}

.tab-focus() {
    // Default
    outline: thin dotted;
    // WebKit
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}

.transition(@transition) {
    -webkit-transition: @transition;
    -o-transition: @transition;
    transition: @transition;
}

//input button
.input-group {
    position: relative;

    label.input-label {
        color: @main-green;
        font-size: 15px;
        margin: 5px 0;
        display: block;
    }

    input {
        background: #eee;
        border: 1px solid #eee;
        height: 18px;
        font-size: 12px;
        text-align: center;
        width: 100%;

        &:focus {
            border: solid 1px @main-green;
        }
    }

    span.input-logo {
        position: absolute;
        top: 5px;
        right: 10px;
    }
}

.btn {
    display: inline-block;
    text-align: center;
    cursor: pointer;
    border-radius: @radius;
    padding: @padding-base-vertical @padding-large-horizontal;
    line-height: 15px;
    border: 1px solid transparent;
    font-size: 14px;
    vertical-align: middle;
    outline: none;
    cursor: pointer;
    // Button Color
    &.btn-green {
        .button-variant(#fff, @main-green, @main-green);
    }

    &.btn-delete {
        .button-variant(#fff, @main-orange, @main-orange);
    }

    &.btn-black {
        .button-variant(#fff, @dark-black, @dark-black);
    }
    // Button Sizes
    &.btn-lg {
        .button-size(@padding-large-vertical; @padding-large-horizontal; @font-size-large; @line-height-large);
    }

    &.btn-sm {
        .button-size(@padding-small-vertical; @padding-small-horizontal; @font-size-small; @line-height-small);
    }

    &.btn-xs {
        .button-size(@padding-xs-vertical; @padding-xs-horizontal; @font-size-small; @line-height-small);
    }

    &.btn-block {
        display: block;
        width: 100%;
    }
}

//list
.list-group {
    .list-title {
        color: black;
        font-size: 16px;
        margin: 0;
    }

    .list {
        @letter: 20px;
        color: black;
        font-size: 14px;
        margin: @letter/4 @letter/4 @letter/4 @letter;
        padding-left: @letter;

        input {
            margin-right: 10px;
        }

        i {
            margin-left: -@letter;
            margin-right: @letter/4;
        }
    }
}

.categories {
    margin-top: 60px;

    ul {
        li {
            color: white;
            cursor: pointer;
        }
    }
}

.card,
.map-card {
    background: #fff;
    padding: 15px;
    border-radius: 5px;
    margin: 10px 0;

    ul {
        padding: 0;

        li {
            margin-left: 20px;
            position: relative;
            list-style: none;

            a {
                cursor: pointer;
            }
        }
    }
}

.map-card .map-logo {
    vertical-align: top;
    width: 150px;

    img {
        max-height: 150px;
        max-width: 100%;
    }
}

.box-title {
    i.dsd-icon-square {
        color: @main-green;
    }
}
