.MainContent{
    background: white;
    z-index: 10;
}
.nav-panel {
    background-image: url("@{background-url-prefix}bg-nav-panel.jpg");
    background-size: contain;
    background-position: center right;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0.87);
    position: fixed;
    top: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;

    @media (max-width: @screen-xs-max) {
        right: 0;
        width: 100%;
    }

    & > div:first-child {
        background: rgba(0, 0, 0, .2);

        .logo-group {
            padding: 10px 0;
            text-align: center;

            .encompasslogo {
                margin-left: -20px;
                margin-top: 5px;
                text-align: left;
            }
        }
    }

    .main-panel {
        .nav {
            margin: 0;
            padding: 0 8px;
            background: @dark-black;

            li {
                margin: 0;
                padding: 10px;
                text-align: center;

                a {
                    color: white;

                    label {
                        cursor: pointer;
                        display: block;
                    }

                    i {
                        display: block;
                        font-size: 24px;
                    }
                }

                &.active {
                    background: @light-black;

                    a {
                        color: @main-green;
                    }
                }
            }
        }

        .filter-content {
            padding: 0 5px 20px 5px;

            .tab-pane {
                .nav-sublist {
                    .btn-black {
                        margin: 5px 0 0 0;

                        &:hover {
                            background: @main-green;
                        }
                    }

                    .link {
                        a {
                            color: @main-green;
                            text-decoration: underline;
                        }
                    }
                }
                /*&.active {
                    display: block;
                }*/
            }

            .list-group {
                margin-top: 60px;
            }

            .input-group {
                margin: 5px 0;
            }

            .btn {
                margin: -2px 0;
            }
        }
    }
}

.state-list-wrapper {
    background: @light-black;
    .state-list-title {
        font-weight: bold;
        color: white;
        padding: 15px;
        text-align: center;
        span {
            text-align: center;
            line-height: 30px;
            height: 30px;
            margin-left: -@padding-xs-horizontal*4;
        }
    }
    .state-list {
        background: @body-bg;
        margin: 0 10px;
        padding: 20px;
        overflow-y: scroll;
    }
}

.nav-list {
    li {
        border-radius: @border-radius-small;
        color: white;
        padding: 5px;
        cursor: pointer;
        margin-bottom:0;
        &.profile-tabpane:hover {
            background:rgba(255,255,255,.1);
        }
        &.active {
            background: @main-green!important;
        }
        i {
            width:26px;
        }
    }
}

@media screen and (max-width:@screen-sm-max) {
    .nav-panel {
        position: inherit;
        background-image: none;

        .main-panel {
            .nav {
                -webkit-flex-direction: row;
                -moz-flex-direction: row;
                flex-direction: row;

                li {
                    flex: 1;
                }
            }

            .filter-content {

                .tab-pane {
                    margin: 0 5px;

                    .nav-sublist {
                        .nav-list {
                            li {
                                margin: 5px 0;
                                background: rgba(255,255,255,.05);
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width:@screen-xs-max) {
    .register-panel {
        .main-panel {
            .filter-content {
                background: url("@{background-url-prefix}bg-supplier.jpg") no-repeat;
                background-size: cover;

                .tab-pane {

                    .nav-sublist {
                        .nav-list {
                            li {
                                background: rgba(0,0,0,.8);
                                margin-top: 10px;
                                padding: 6px 10px;
                            }

                            &:active {
                                background-color: @main-green;
                            }
                        }
                    }
                }
            }
        }
    }
}