.form-wrapper {
    background: white;
    .form-head {
        background: @main-grey;
        padding: 5px 20px;
        h3 {
            display: inline-block;
            color: #b5b5b5;
            font-size: 20px;
            i {
                margin-right: 10px;
            }
        }
    }
    .form-content {
        margin: 30px;
        .input-group {
            text-align: right;
            margin: 20px 0;
            i {
                margin-right: 10px;
            }
            input {
                text-align: left;
                font-size: 16px;
                padding: 0 10px;
                height: 40px;
                width: 93%;
            }
            .uploadimg {
                display: inline-block;
                width: 60%;
                position: relative;
                text-align: left;
                margin-right: -3px;
                input {
                    width: 100%;
                }
            }
            .uploadbtn {
                button {
                    margin-left: 20px;
                    height: 40px;
                    margin-bottom: 5px;
                }
                text-align: left;
                width: 33%;
                display: inline-block;
            }
        }
        .input-group-addon {
            display: table;
            border-collapse: separate;
            .input-addon {
                border-radius: 4px;
                border: 1px solid #bbb;
                display: table-cell;
                width: 1%;
                padding: 8px;
                font-size: 20px;
                .border-radius(4px 0 0 4px);
                border-right: 0;
            }
            input {
                display: table-cell;
                width: 100%;
                .border-radius(0 4px 4px 0);
            }
        }
    }
    .form-state , .form-association {
        .input-group {
            margin: 0;
            text-align: left;
            input {
                width: 100%;
            }
        }
        button.btn.btn-green {
            height: 38px;
        }
    }
    .form-award {
        .btn-green{
            height: 38px;
        }
        .input-group {
           
            input {
                width: 100%;
            }
        }
    }
}

.card-content {
    border: 1px solid #bbb;
    border-radius: 4px;
    margin-top: 20px;
    h4 {
        margin: 20px;
        button.btn-delete {
            float: right;
        }
    }
    .card-list {
        margin: 0 20px;
        li {
            font-size: 16px;
            .btn.btn-delete {
                float: right;
            }
        }
    }
}