.form-wrapper {
    background: white;
    display: none;
    &.active {
        display: block;
    }
    .form-head {
        border-bottom: 1px dashed #ccc;
        margin: 0 50px;
        padding: 5px 0px;
        h3 {
            display: inline-block;
            color: black;
            font-size: 20px;
            i {
                margin-right: 10px;
            }
        }
        button {
            margin-left: 10px;
        }
    }
    .form-content {
        margin: 10px 50px;
        .card-state {
            margin: 10px 0;
            border-top: 1px solid #ccc;
            .card-state-title {
                margin: 10px 0;
                font-size: 18px;
                b {
                    margin-left: 10px;
                }
                span {
                    float: right;
                    font-size: 16px;
                    vertical-align: text-bottom;
                }
                button {
                    i.dsd-icon-delete {
                        margin-right: 10px;
                    }
                }
            }
        }
        .input-group {
            @height: 30px;
            text-align: right;
            margin: 10px 0;
            position: relative;
            i {
                position: absolute;
                left: -10px;
                top: 10px;
            }
            input {
                text-align: left;
                font-size: 16px;
                padding: 0 10px;
                height: @height;
                width: 100%;
                font-weight: lighter;
                background: #eee;
            }
            .uploadimg {
                font-size: 0;
                .uploadbtn {
                    font-size: 16px;
                    color: white;
                    width: 30%;
                    background: @main-green;
                    height: @height;
                    display: inline-block;
                    vertical-align: top;
                    text-align: center;
                    line-height: @height;
                    cursor: pointer;
                }
                input {
                    width: 70%;
                }
            }
        }
        .input-group-addon {
            i.input-addon {
                top: 2px;
                left: -15px;
                font-size: 28px;
            }
        }
    }
    .form-state,
    .form-association,
    .form-award,
    .form-contact{
        .input-with-button {
            button {
                height: 30px;
            }
        }
        .input-group {
            margin: 0;
            text-align: left;
            input {
                width: 100%;
            }
        }
    }
    .form-contact{
        .input-group{
             margin: 5px 0;
        }
       
    }
    .form-award {
       
        .input-group {
            input {
                width: 100%;
            }
        }
    }
}

.card-content {
    border-top: 1px solid #ccc;
    
    margin-top: 15px;

    h4 {
        margin: 20px;

        button.btn-delete {
            float: right;
        }
    }

    .card-list {
        
        li {
            font-size: 16px;
        }
        button.btn-delete{
            margin-right: 10px;
        }
    }
}

@media (max-width: @screen-sm-max) {
    .MainContent {

        .form-wrapper {

            .form-head {
                background: #f0f0f0;
                margin: 0;
                padding: 8px 50px;
            }
        }
    }

}

@media (max-width: @screen-xs-max) {
    .MainContent{
        padding:0;
    }
    .form-wrapper {

        .form-head {
            padding: 12px 0;
            line-height: 32px;
            height: 52px;
            margin: 0;
            border-bottom:none;
            background:#000!important;
            color:#fff;

            h3 {
                text-align: center;
                position: absolute;
                width: 100%;
                left: 0;
                z-index: 1;
                color:#fff;
            }

            .btn {
                position: absolute;

                &.btn-green {
                    background: transparent;
                    color: @main-green;
                    border: none;
                    margin-top: 2px;
                    right: 0;
                    z-index: 2;
                }

                &.btn-back {
                    left: 0;
                    z-index: 2;
                }
            }
        }

        .form-content {
            .input-group {
                input {
                    height: 36px;
                }
                .uploadimg{
                    .uploadbtn{
                        height:36px;
                        line-height:36px;
                    }
                    input{
                        border-top-left-radius:0;
                        border-bottom-left-radius:0;
                    }
                }
            }
        }
    }
}
