.form-wrapper {
    .form-head {
        background: @main-grey;
        padding: 5px 20px;
        h3 {
            display: inline-block;
            color: #b5b5b5;
            font-size: 20px;
            i {
                margin-right: 10px;
            }
        }
    }
    .form-content {
        margin: 30px;
        .input-group {
            text-align: right;
            margin: 20px 0;
            i {
                margin-right: 10px;
            }
            input {
                text-align: left;
                font-size: 16px;
                padding: 0 10px;
                height: 40px;
                width: 93%;
            }
            .uploadimg {
                display: inline-block;
                width: 60%;
                position: relative;
                text-align: left;
                margin-right: -3px;
                input {
                    width: 100%;
                }
            }
            .uploadbtn {
                button {
                    margin-left: 20px;
                    height: 40px;
                    margin-bottom: 5px;
                }
                text-align: left;
                width: 33%;
                display: inline-block;
            }
        }
    }
}
 
.input-group-addon {
    display: table;
    .input-addon {
        height: 40px;
        border-radius: 4px;
        border: 1px solid #bbb;
        display: table-cell;
    }
}