.supplier-container {
    background-image: url("@{background-url-prefix}bg-supplier.jpg");
    background-size: cover;
    background-position: top left;
    background-repeat: no-repeat;
    background-attachment: fixed;

    .box-margin {
        margin: @margin-base 0 0 0;
    }

    .box-title{
        padding:@padding-large-vertical @padding-large-horizontal;
        font-weight:bold;
    }
}
