.nav-panel {
    .main-panel {
        .nav {
            display: flex;
            flex-direction: column;
            padding: 0;

            li {
                padding: 10px 0;
            }
        }
    }
}

.supplier-container {
    background-image: url("@{background-url-prefix}bg-supplier.jpg");
    background-size: cover;
    background-position: top left;
    background-repeat: no-repeat;
    /*background-attachment: fixed;*/
    .box-margin {
        margin: @margin-base 0 0 0;
    }

    .strong {
        color: @main-green;
    }

    .box-title {
        padding: @padding-large-vertical @padding-large-horizontal;
        font-weight: bold;
        color: #000;
    }

    .company-logos {
        text-align: center;
        padding: 0 18px 18px 18px;

        .company-unit {
            padding: @padding-large-vertical @padding-small-horizontal;

            img {
                max-width: 240px;
            }
        }
    }

    .supplier-search-list {
        background: #fff;
        margin: -15px 15px 40px 15px;
        padding-bottom: 5px;

        .box-title {
            span {
                max-width: 90%;
                overflow: hidden;
                text-overflow: ellipsis;
                display: inline-block;
                vertical-align: top;
                white-space: nowrap;
            }
        }

        .supplier-search-list-content {
            margin: 0px;

            .supplier-logos {
                padding: 0 3px;

                .company-img-frame {
                    border: solid 1px #ccc;
                    margin-bottom: @margin-small;
                }

                h4 {
                    text-align: center;
                }
            }
        }
    }
}

@media screen and (max-width:@screen-sm-max) {
    .nav-panel {
        position: inherit;
        background-image: none;

        .main-panel {
            .nav {
                -webkit-flex-direction: row;
                -moz-flex-direction: row;
                flex-direction: row;

                li {
                    flex: 1;
                }
            }
        }

        #supplier {
            .input-group {
                input {
                    padding: 4px 10px;
                    height: 36px;
                    text-align: left;
                }

                .input-logo {
                    font-size: 24px;
                }
            }
        }
    }

    .category-unit {
        padding: 0px;
        margin-bottom: 10px;
        cursor: pointer;

        .category-frame {
            margin: 5px;
            position: relative;

            img {
            }

            .category-title {
                position: absolute;
                z-index: 1;
                top: 50%;
                left: 0;
                margin-top: -10px;
                width: 100%;
                padding: 2px 0;
                text-align: center;
                color: #fff;
                background: rgba(0,0,0,.8);
                box-sizing: border-box;

                label {
                    cursor: pointer;
                }
            }

            &.active {
                .category-title {
                    background: @main-green;
                    color: #fff;
                }
            }
        }
    }

    .supplier-container {
        padding-top: 5px;
    }
}

@media screen and (max-width:@screen-xs-max) {
    .supplier-container {
        .company-frame {
            h3.box-title {
                padding: 10px 0;
            }
        }

        .ads-group, .two-ads-group {
            .col-xs-12 {
                padding: 0;
            }
        }

        .two-ads-group .box-margin:last-child {
            margin-top: @margin-large;
        }

        .company-logos {
            padding: 0 5px 5px 5px;
            margin-top: -5px;
        }

        .supplier-search-list {
            margin: 0 0 20px 0;

            .supplier-search-list-content {

                h4.strong {
                    margin-top: 15px;
                    margin-bottom: 0px;
                }

                p {
                    margin-top: 5px;
                }
            }
        }
    }
}
