@font-face {
    font-family: 'Icons';
    src: url('dsd.ttf');
    /*src: url('Command.eot?#iefix&v=4.4.0') format('embedded-opentype'), url('Command.ttf?v=4.4.0') format('truetype'), url('Command.svg?v=4.4.0#fontawesomeregular') format('svg');*/
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'roboto';
    src: url('Roboto-Light.ttf');
    font-weight:lighter;
    font-style:normal;
}

@font-face {
    font-family: 'roboto';
    src: url('Roboto-Regular.ttf');
    font-weight:normal;
    font-style:normal;
}

@font-face {
    font-family: 'roboto';
    src: url('Roboto-Bold.ttf');
    font-weight:bold;
    font-style:normal;
}

[class*="dsd-icon-"] {
    display: inline-block;
    font: normal normal normal 14px/1 Icons;
    font-size: inherit;
    text-rendering: auto;
}

.dsd-icon-warehouse:before {/*Distributor*/
    content:"\e900";
}

.dsd-icon-beer:before {/*Supplier*/
    content:"\e901";
}

.dsd-icon-register:before {/*Register*/
    content:"\e902";
}

.dsd-icon-logo:before {/*Contact Us*/
    content:"\e903";
}

.dsd-icon-smile:before {
    content:"\e90f";
}

.dsd-icon-search:before {
    content:"\e923";
}

.dsd-icon-location:before {
    content:"\e90a";
}

.dsd-icon-location-o:before {/*Where We Sell*/
    content:"\e90b";
}

.dsd-icon-phone:before {
    content:"\e910";
}

.dsd-icon-share:before {
    content:"\e905";
}

.dsd-icon-mail:before {/* Mistake */
    content:"\e928";
}

.dsd-icon-pencil:before {/*Update Profile*/
    content:"\e922";
}

.dsd-icon-other-location:before {/*Other Location*/
    content:"\e90e";
}

.dsd-icon-tag:before {/*What we sell*/
    content:"\e90d";
}

.dsd-icon-chart:before {/*Profile Visits*/
    content:"\e913";
}

.dsd-icon-user-group:before {/*Key People*/
    content:"\e91a";
}

.dsd-icon-user-group-o:before {/*Key People*/
    content:"\e919";
}

.dsd-icon-user:before {/*Owner*/
    content:"\e91c";
}

.dsd-icon-converage:before {/*Market Converage*/
    content:"\e916";
}

.dsd-icon-globe:before {/*Website*/
    content:"\e917";
}

.dsd-icon-information:before {/*Company Information*/
    content:"\e908";
}

.dsd-icon-media:before {/*Social Media*/
    content:"\e909";
}

.dsd-icon-flag:before {/*Associations*/
    content:"\e911";
}

.dsd-icon-awards:before {
    content: '\e914';
}

.dsd-icon-key:before {/*Set Password*/
    content:"\e906";
}

.dsd-icon-back:before {
    content:"\e91e";
}

.dsd-icon-square:before{/**/
    content:"\e925";
}

.dsd-icon-delete:before {
    content:"\e927";
}

/* Brand Icons */
.dsd-icon-youtube-square:before {
    content:"\e92d";
    color: #f12b2b;
}

.dsd-icon-facebook-square:before {
    content:"\e929";
    color: #667eb9;
}

.dsd-icon-twitter-square:before {
    content:"\e92c";
    color: #5dd7fc;
}

.dsd-icon-instagram:before {
    content:"\e92a";
    color:#c5ac86;
}

.dsd-icon-linkin-square:before {
    content:"\e92b";
    color: #38a6d7;
}
.dsd-icon-viewprofile:before {
    content:"\e90c";
}
.dsd-icon-sortdown:before {
    content:"\e9f";
}